@import "partials/variables.scss";

// * ----------------------- * //
// --------- COMMUN ---------- //
// * ----------------------- * //
body{
  // cursor: default;
  // -webkit-touch-callout: none; /* iOS Safari */
  // -webkit-user-select: none; /* Safari */
  // -khtml-user-select: none; /* Konqueror HTML */
  // -moz-user-select: none; /* Firefox */
  // -ms-user-select: none; /* Internet Explorer/Edge */
  // user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-family: $fontfamily;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p, a, li{
  font-family: $fontfamily;
}

.flex{
  display: flex;
}

.flex-align{
  align-items: center;
}

.flex-between{
  justify-content: space-between;
}

.flex-center{
  justify-content: center;
}

.nopadding{
  padding: 0 !important;
}

.padding-top{
  padding-top: 30px;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.img-fluid{
  width: 100%;
  height: inherit;
  object-fit: cover;
}

a:hover{
  cursor: pointer;
}

.width100{
  width: 100%;
}

.width50{
  width: 50%;
}

.color-grey{
  color: $grey;
}
// * ----------------------- * //
.container-diapo{
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  .section-left{
    background: black;
    width: 30%;
    height: 100vh;

    .content-p-rotate{
      height: calc(100vh - 120px);
      .p-style-section-left{
        color: white;
        text-transform: uppercase;
        text-align: center;
        transform: rotate(270deg);
        font-size: 20px;
      }
    }
  }

  .section-right{
    width: 70%;
    height: 100vh;
    background: white;
    text-align: right;
    .content-button{
      .button-primary-roulemarcel{
        background: $yellow;
        padding: 20px;
        border: none;
        cursor: pointer;
        p{
          margin-bottom: 0;
          text-transform: uppercase;
          font-weight: bold;
        }
        i{
          margin-right: 10px;
        }
      }
    }
  }

  .mask-img-square{
    // width: 600px;
    height: 600px;
  }

  .content-description{
    width: 80%;
    position: absolute;
    .content-info{
      height: inherit;
      .content-profil{
        padding: 20px 0px 0px 30px;
        h1{
          font-weight: bold;
          margin-bottom: 0;
          font-size: 54px;
        }
        p.p-italic{
          font-style: italic;
          text-transform: uppercase;
        }
      }

      .info-color-shape{
        margin-top: 30px;
        background: $yellow;
        padding: 30px;
        width: 550px;
        height: 390px;
        .p-subtitle{
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 0;
          font-size: 20px;
        }
        .mini-hr{
          border-color: black;
          border-width: 4px;
          width: 40px;
          float: left;
          margin-top: 5px;
        }
        p{
          clear: both;
        }
        .content-link-a{
          padding: 20px 0px 30px;
          .button-link{
            background-color: black;
            padding: 10px 20px;
            color: white;
            text-transform: uppercase;
            font-weight: bold;
          }
        }
      }
    }
    .swiper-container{
      .arrow-generic{
        width: 60px;
        height: 60px;
        top: calc(100% - 37px);
      }
      .swiper-container{
        margin: 0;
      }
      .swiper-button-prev.arrow-style-left{
        left: calc(50% - 60px);
        background: white;
        color: black;
        }
      .swiper-button-next.arrow-style-right{
        right: calc(50% - 60px);
        background: black;
        color: white;
      }
    }
  }

  // Modal
  .modal.modal-roulemarcel{
    top: 35%;
    .modal-dialog{
      position: relative;
    }
    .modal-content{
      border-radius: 0;
      border: none;
      position: relative;
    }
    .modal-body{
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      .icon-check-circle{
        border: 2px solid black;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        i{
          font-size: 25px;
        }
      }
      h2{
        font-weight: bold;
        margin-bottom: 20px;
      }
    }
    .content-button-close{
      position: absolute;
      top: -32px;
      right: 0;
      .button-close-roulemarcel.close{
        background-color: $yellow;
        border: none;
        opacity: 1;
        padding: 10px 20px;
        p{
          margin-bottom: 0;
          text-transform: uppercase;
          color: black;
          font-size: 12px;
          letter-spacing: 2px;
        }
      }
    }
  }
}
