body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-family: 'Poppins', sans-serif; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

p, a, li {
  font-family: 'Poppins', sans-serif; }

.flex {
  display: flex; }

.flex-align {
  align-items: center; }

.flex-between {
  justify-content: space-between; }

.flex-center {
  justify-content: center; }

.nopadding {
  padding: 0 !important; }

.padding-top {
  padding-top: 30px; }

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.img-fluid {
  width: 100%;
  height: inherit;
  object-fit: cover; }

a:hover {
  cursor: pointer; }

.width100 {
  width: 100%; }

.width50 {
  width: 50%; }

.color-grey {
  color: #404040; }

.container-diapo {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center; }
  .container-diapo .section-left {
    background: black;
    width: 30%;
    height: 100vh; }
    .container-diapo .section-left .content-p-rotate {
      height: calc(100vh - 120px); }
      .container-diapo .section-left .content-p-rotate .p-style-section-left {
        color: white;
        text-transform: uppercase;
        text-align: center;
        transform: rotate(270deg);
        font-size: 20px; }
  .container-diapo .section-right {
    width: 70%;
    height: 100vh;
    background: white;
    text-align: right; }
    .container-diapo .section-right .content-button .button-primary-roulemarcel {
      background: #FFF000;
      padding: 20px;
      border: none;
      cursor: pointer; }
      .container-diapo .section-right .content-button .button-primary-roulemarcel p {
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: bold; }
      .container-diapo .section-right .content-button .button-primary-roulemarcel i {
        margin-right: 10px; }
  .container-diapo .mask-img-square {
    height: 600px; }
  .container-diapo .content-description {
    width: 80%;
    position: absolute; }
    .container-diapo .content-description .content-info {
      height: inherit; }
      .container-diapo .content-description .content-info .content-profil {
        padding: 20px 0px 0px 30px; }
        .container-diapo .content-description .content-info .content-profil h1 {
          font-weight: bold;
          margin-bottom: 0;
          font-size: 54px; }
        .container-diapo .content-description .content-info .content-profil p.p-italic {
          font-style: italic;
          text-transform: uppercase; }
      .container-diapo .content-description .content-info .info-color-shape {
        margin-top: 30px;
        background: #FFF000;
        padding: 30px;
        width: 550px;
        height: 390px; }
        .container-diapo .content-description .content-info .info-color-shape .p-subtitle {
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 0;
          font-size: 20px; }
        .container-diapo .content-description .content-info .info-color-shape .mini-hr {
          border-color: black;
          border-width: 4px;
          width: 40px;
          float: left;
          margin-top: 5px; }
        .container-diapo .content-description .content-info .info-color-shape p {
          clear: both; }
        .container-diapo .content-description .content-info .info-color-shape .content-link-a {
          padding: 20px 0px 30px; }
          .container-diapo .content-description .content-info .info-color-shape .content-link-a .button-link {
            background-color: black;
            padding: 10px 20px;
            color: white;
            text-transform: uppercase;
            font-weight: bold; }
    .container-diapo .content-description .swiper-container .arrow-generic {
      width: 60px;
      height: 60px;
      top: calc(100% - 37px); }
    .container-diapo .content-description .swiper-container .swiper-container {
      margin: 0; }
    .container-diapo .content-description .swiper-container .swiper-button-prev.arrow-style-left {
      left: calc(50% - 60px);
      background: white;
      color: black; }
    .container-diapo .content-description .swiper-container .swiper-button-next.arrow-style-right {
      right: calc(50% - 60px);
      background: black;
      color: white; }
  .container-diapo .modal.modal-roulemarcel {
    top: 35%; }
    .container-diapo .modal.modal-roulemarcel .modal-dialog {
      position: relative; }
    .container-diapo .modal.modal-roulemarcel .modal-content {
      border-radius: 0;
      border: none;
      position: relative; }
    .container-diapo .modal.modal-roulemarcel .modal-body {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center; }
      .container-diapo .modal.modal-roulemarcel .modal-body .icon-check-circle {
        border: 2px solid black;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px; }
        .container-diapo .modal.modal-roulemarcel .modal-body .icon-check-circle i {
          font-size: 25px; }
      .container-diapo .modal.modal-roulemarcel .modal-body h2 {
        font-weight: bold;
        margin-bottom: 20px; }
    .container-diapo .modal.modal-roulemarcel .content-button-close {
      position: absolute;
      top: -32px;
      right: 0; }
      .container-diapo .modal.modal-roulemarcel .content-button-close .button-close-roulemarcel.close {
        background-color: #FFF000;
        border: none;
        opacity: 1;
        padding: 10px 20px; }
        .container-diapo .modal.modal-roulemarcel .content-button-close .button-close-roulemarcel.close p {
          margin-bottom: 0;
          text-transform: uppercase;
          color: black;
          font-size: 12px;
          letter-spacing: 2px; }
